<ion-view title="Associated Symptoms">
  <ion-content has-header="true" padding="true">
    <!-- Start definition of tab's display content --> 

      <!-- Header -->
        <div class="row">
          <div class="col col-100">
            <h2 style="text-align:center">Thank you! Your results have been submitted.</h2>
            <h4 style="text-align:center">You will find your compliance data below. Please contact the study administrator if you have any questions or comments.</h5>
          </div>
        </div>

    <!-- End definition -->
  </ion-content>
</ion-view>